@keyframes typing {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0;
  }
}
@keyframes down {
  20%,
  40% {
    transform: translateY(-1rem);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(3rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3rem);
  }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}